### Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

### Logs
*.log

### OS junk
.DS_Store
Thumbs.db

### IDEs
.idea/
.vscode/
*.iws
*.iml
*.ipr
out/
bin/

### Node/Frontend
node_modules/
dist/

### Test reports / Coverage (optional)
test-results/
jacoco/

### Secrets & local overrides
.env
.env.*
*.keystore
*.pem
*.p12
secrets.*

# Локальные настройки Spring
application-*.local.properties


